<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <connectionStrings>
    <add name="DataContext"
      connectionString="data source=DESKTOP-1JV6RE4\MYSQLSERVER;initial catalog=TaskInfo;MultipleActiveResultSets=True;App=EntityFramework"
      providerName="System.Data.SqlClient"/>
  </connectionStrings>

</configuration>